.cuisine-container {
    padding-top: 6rem;
}

.cuisine-title {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    display: flex;
    justify-content: center;
}

.cuisine-subtitle {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.nothing-button {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.nothing-button button {
    font-family: var(--body-font);
    text-decoration: none;
    font-size: 1.75rem;
    letter-spacing: 0.2rem;

    border: none;
    background-color: var(--light-main-yellow);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
    color: var(--light-white);
    text-decoration: none;
}