.cuisine-container {
    padding-top: 5rem;
}

.cuisine-title {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    display: flex;
    justify-content: center;
}

.cuisine-subtitle {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.cuisine-button-container {
    padding-top: 2rem;
}

.cuisine-button-container  button {
    font-family: var(--body-font);
    text-decoration: none;
    font-size: 1.75rem;
    letter-spacing: 0.2rem;

    border: none;
    background-color: var(--light-main-yellow);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
    color: var(--light-white);
    text-decoration: none;
}

.cuisine-button-container button:hover {
    cursor: pointer;
}

.cuisine-row-one {
    display: flex;
    justify-content: center;
}

.cuisine-row-two {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.cuisine-row-three {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.left {
    margin-right: 0.75rem;
}

.middle {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.right {
    margin-left: 0.75rem;
}