@font-face {
  font-family: 'Oduda';
  src: url('./assets/Oduda-Bold-Demo.otf') format('embedded-opentype'),      /* Internet Explorer */
    url('./assets/Oduda-Bold-Demo.otf') format('woff2'),                     /* Super Modern Browsers */
    url('./assets/Oduda-Bold-Demo.otf') format('woff'),                      /* Pretty Modern Browsers */
    url('./assets/Oduda-Bold-Demo.otf') format('truetype'),                  /* Safari, Android, iOS */
    url('./assets/Oduda-Bold-Demo.otf') format('svg');                       /* Legacy iOS */
}

/*--------- Variables ----------*/
:root {
  /* Colors */
  --light-main-yellow: #FFC145;
  --light-fade-yellow: #FED766;
  --light-white: #FFFFFF;
  --light-eggshell: #F4F4F8;

  /* Fonts */
  --body-font: 'Oduda', sans-serif;
}

/*--------- Global ----------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}