.navbar-buttons {
    display: flex;
    justify-content: flex-end;
    padding-top: 1.5rem;
}

.navbar-buttons button {
    border: none;
    background-color: transparent;
    text-decoration: none;
    padding-right: 2.5rem;
}

.links {
    text-decoration: none;
    font-family: var(--body-font);
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: var(--light-main-yellow);
}